.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    margin: 0 auto;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #c0c0c0;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

.cell.x {
    color: #3498db;
}

.cell.o {
    color: #e74c3c;
}

